
BigdataVisualization/nyc_taxi.csv
BigdataVisualization/census/census.parq/_common_metadata
BigdataVisualization/census/census.parq/_metadata
*.parquet
BigdataVisualization/Geog573_Lab8.ipynb
BigdataVisualization/census-midwest.csv
BigdataVisualization/CensusTract_deckgl.ai
GeographicWeightedRegression/2012-2020_Election_Data_with_2020_Wards.geojson
GeographicWeightedRegression/Example9.1_SpatialAutocorrelation.ipynb
GeographicWeightedRegression/Example9.2_GWR_Georgia_example.ipynb
GeographicWeightedRegression/neighbourhoods.geojson
GeographicWeightedRegression/listings.csv.gz
GeographicWeightedRegression/Geog573_Lab9_GWR.ipynb
GeographicWeightedRegression/Geog573_Lab9_GWR.ipynb
